/**********************GLOBAL STYLE start**********************/
html {	
	font-size: 16px;
	background: #77aeb1;	
}

body{
	font-family: 'Jost', sans-serif;
	background-color: #77aeb1;
}

h1,h2,h3,a,span,p, .nav-link{
	color: #d7f8f7;
	text-decoration: none;
}

a:hover, a:active, a:focus, .nav-link:hover, .nav-link:active, .nav-link:focus{
	color: #FFD733;
	text-decoration: none;
}

ul{
	list-style: none;
}

.icon{
	filter: invert(100%);
	margin-right: 7px;
	width: 25px;
	height: 25px;
}

.btn-light {    
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
}

.btn-light:hover{	
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

.btn-light:focus {    
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

#sidebar-button-icon{
	height: 30px;
	width: 30px;
	filter: invert(100%);
}

.offcanvas{
	background: rgba(1, 1, 1, 0.8);
}

.offcanvas-end {    
    width: 250px;
}

.btn-close{
	width: 30px;
	height: 30px;
	filter: invert(100%);	
}

#sidebar-site-logo{
	opacity: 0.2;
    filter: grayscale(100%);
    width: 400px;
    position: absolute;
    z-index: -1;
}

.offcanvas-body .navbar-nav .nav-link{
	font-size: 16px;
}

.offcanvas-body .nav-item{
	margin-top: 10px;
	margin-bottom: 10px;
}

/************************GLOBAL STYLE end***********************/



/************************MAIN start*****************************/
main section{
	padding-top: 25px;
	padding-bottom: 25px;
}

#bio h2{
	font-family: 'Archivo Black', sans-serif;
}

#bio h3{
	padding-top: 3rem;
}

#bio-picture-div{
	flex-direction: row;
}

#bio-picture{
	margin-bottom: -25px;
}

#bio li{
	padding-bottom: 0.65rem;
}

#bio .icon{
	width: 35px;
	height: 35px;
}
/************************MAIN start*****************************/



/***************************HEADER start*************************/
header{
	background: #5c9398;	
}

.navbar-brand h1{
	font-size: 1.2rem;			
}

.navbar-brand p{
	font-size: 0.8rem;
}

#navigation-section{
	height: 150px;
}

.vr {
    border-left: 1px solid #d7d9ce;
    height: 12px;
    opacity: 0.5;    
}

.navbar-nav .nav-link{
	display: inline-block;
	padding: 0px 7px 0px 7px;
	font-size: 0.8em;
	font-weight: bold;			
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu {
	background: rgba(215, 217, 202, 0.9);	
}

.dropdown-menu span{
	color: #5c9398;
	font-weight: bold;
}

/*ACCORDION*/
.accordion-button, .accordion-item{
	background: rgba(0, 0, 0, 0);
	color: #d7f8f7;
	font-size: 16px;
	border: 0px;
	font-weight: bold;
	padding-left: 4px;
}

.accordion-button::after{
	margin-left: 5px;
	filter: invert(100%);
	width: 20px;
}

.accordion-button:not(.collapsed){
	color: #d7f8f7;
	background: rgba(0, 0, 0, 0);
}

.accordion-button:focus, .accordion-button:hover, .accordion-button:active{
	border: 0px;
	box-shadow: none;
	color: #FFD733;
}

.accordion-body ul{
	padding-left: 0rem;
}

.accordion-body li{	
	padding-top: 3px;
	padding-bottom: 3px;
}

.accordion-body span{
	color: #11787f;
}

.accordion-body a{
	text-decoration: none;
}
/*ACCORDION END*/
/************************HEADER end*****************************/



/************************FOOTER START***************************/
footer{
	background: #5c9398;	
}

footer .footer-section{
	min-height: 350px;	
	max-height: 400px;
	height: 23vw;
}

.footer-section span{	
	margin-bottom: 5px;	
}

.footer-section ul{
	padding-left: 0px;
}

.footer-section li{
	padding-top: 5px;
	padding-bottom: 5px;
}

#doctoralia-icon{
	margin-left: 10px;
}

iframe{
	height: 50%;
	width: 70%;
	margin-top: 15px;
}

hr{
	border-top: 1px solid white;
	width: 70%;
	margin-top: 70px;
	margin-bottom: 0px;
}

#copyright{
	text-align: center;	
	background: #000000;
	line-height: 50px;
}
/*****************************FOOTER END*************************/



/*LARGE lg*/
@media (min-width: 992px) and (max-width: 1199px){
	html {	
	font-size: 14px;		
	}

	.icon{	
	width: 20px;
	height: 20px;
	}

	/*MAIN start*/
	#bio .icon{
	width: 30px;
	height: 30px;
	}
	/*MAIN end*/

	/*HEADER start*/
	#site-logo{
		width: 100px;
		height: 100px;
	}
	#navigation-section{
	height: 100px;
	}
	/*HEADER end*/
	}

/*MEDIUM md*/
@media (min-width: 768px) and (max-width: 991px) {
	html {	
	font-size: 14px;		
	}

	/*MAIN start*/
	#bio .icon{
	width: 25px;
	height: 25px;
	}
	/*MAIN end*/	

	/*HEADER start*/
	#site-logo{
		width: 100px;
		height: 100px;
	}
	/*HEADER end*/

	/*FOOTER*/
	footer{
		font-size: 14px;
	}
	/*FOOTER END*/
}

@media (min-width:576px) and (max-width: 767px) {
	html {	
		font-size: 16px;		
	}

	/*HEADER start*/
	#site-logo{
		width: 70px;
		height: 70px;
	}
	/*HEADER end*/

	/*MAIN start*/
	#bio h3{
	padding-top: 1rem;
	}

	#bio .icon{
		width: 25px;
		height: 25px;
	}

	#bio-picture-div{
		flex-direction: column;
	}

	#bio-picture{
		content: url("../images/rocio.jpg");
		width: 50%;
		margin: 0px auto 0px auto;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-radius: 30px;
	}

	#bio h3{
		text-align: center;
	}

	#bio ul{
		margin: auto;
		padding-left: 0px;
	}
	/*MAIN end*/

	/*FOOTER*/
	footer{
		font-size: 14px;
	}
	/*FOOTER END*/
}

@media (max-width: 575px){
	html {	
	font-size: 16px;		
	}

	#sidebar-button-icon{
	height: 25px;
	width: 25px;	
	}

	/*MAIN start*/
	#bio h3{
	padding-top: 1rem;
	}

	#bio .icon{
	width: 20px;
	height: 20px;
	}

	#bio-picture-div{
		flex-direction: column;
	}

	#bio-picture{
		content: url("../images/rocio.jpg");
		width: 50%;
		margin: 0px auto 0px auto;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-radius: 30px;
	}

	#bio h3{
		text-align: center;
	}

	#bio ul{
		margin: auto;
		padding-left: 0px;
	}
	/*MAIN end*/

	/*HEADER start*/
	#site-logo{
		width: 60px;
		height: 60px;
	}
	/*HEADER end*/

	/*FOOTER*/
	footer{
		font-size: 14px;
	}
	/*FOOTER END*/
}
@media (max-width: 430px){
	.navbar-brand h1{
		font-size: 0.8rem;
	}
	.navbar-brand p{
		font-size: 0.6rem;
	}	

}
